* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #f3f3f3;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.active {
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}
.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}