* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.active {
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}
.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.option__text {
  cursor: pointer;
}
.option__list {
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: #fff;
  display: inline-block;
  border: 1px solid #ccc;
}
.option__item {
  padding: 8px;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}
.modal {
  position: fixed;
  top: 60px;
  width: 600px;
  padding: 1rem;
  background: #fff;
  z-index: 1000;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .35);
  z-index: 100;
}
.btn-complete {
  border-radius: 4px;
  background-color: green;
  height: 100%;
  color: #ffffff;
  margin-right: 10px;
  &.completed {
    background-color: #ffc200;
  }
}
.btn-delete {
  border-radius: 4px;
  background-color: red;
  height: 100%;
  color: #ffffff;
}